@use "../../abstract/constants" as *;
@use "../../abstract/mixins" as *;

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop-1439 {
    margin-bottom: 100px;
  }

  &__load-btn {
    display: none;

    @include desktop-1439 {
      display: block;
    }
  }
  
  &__load-more-btn {
    width: 60px;
    height: 60px;
    border: 1px solid var(--text-primary);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color $transition-duration;

    &:hover {
      background-color: var(--footer-bg);
      border-color: var(--footer-bg);

      & > svg {
        color: $color-text-inverse;
      }
    }

    & > svg {
      transition: color $transition-duration;
      color: var(--border-inverse)
    }
  }
}