$color-bg-light: #e1d4c9;
$color-text-primary: #403f3d;
$color-text-inverse: #e1d4c9;
$color-text-accent: #b0907a;
$color-border-primary: #c1b6ad;
$color-border-inverse: #665f55;
$color-footer-bg: #665f55;

$transition-duration: 0.3s;

$size-content-width: 1440px;
$size-desktop-tablet-width-1110: 1110px;
$size-desktop-tablet-width: 900px;
$size-tablet-width: 768px;