$color-bg-light: #e1d4c9;
$color-text-primary: #403f3d;
$color-text-inverse: #e1d4c9;
$color-text-accent: #b0907a;
$color-border-primary: #c1b6ad;
$color-border-inverse: #665f55;
$color-footer-bg: #665f55;

$color-bg-dark: #292826;
$color-text-accent-dark: #292826;
$color-text-inverse-dark: #b0907a;
$color-text-primary-dark: #e1d4c9;
$color-border-inverse-dark: #c1b6ad;
$color-border-primary-dark: #665f55;
$color-footer-bg-dark: #403f3d;

$transition-duration: 0.3s;

$size-content-width: 1440px;
$size-desktop-1439: 1439px;
$size-desktop-tablet-width-1110: 1110px;
$size-desktop-tablet-width-1089: 1089px;
$size-desktop-tablet-width: 900px;
$size-tablet-width-780: 780px;
$size-tablet-width: 768px;
$size-tablet-width-740: 740px;
$size-tablet-width-650: 650px;
$size-mobile-width: 380px;