$color-bg-light: #e1d4c9;
$color-text-primary: #403f3d;
$color-text-inverse: #e1d4c9;
$color-text-accent: #b0907a;
$color-border-primary: #c1b6ad;
$color-border-inverse: #665f55;

$size-content-width: 1440px;