@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #403f3d;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: #e1d4c9;
}

.container {
  margin: 0 auto;
  padding: 20px 40px 40px;
  max-width: 1440px;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  display: block;
}
.header__nav {
  margin-right: 44px;
}
.header__nav-list {
  display: flex;
}
.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item {
  font-weight: 600;
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.theme-button {
  margin-right: 24px;
  padding: 4px;
  width: 88px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-button__light, .theme-button__dark {
  width: 36px;
  height: 36px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.theme-button__light {
  background-image: url("../../../assets/img/light-icon-active.svg");
}
.theme-button__dark {
  background-image: url("../../../assets/img/dark-icon.svg");
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  margin-bottom: 40px;
  max-width: 800px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}
.menu__title_accent {
  color: #b0907a;
}

.tabs {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.tabs__item {
  padding: 8px 16px 8px 8px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
.tabs__item:not(:last-child) {
  margin-right: 16px;
}
.tabs__item_active {
  background-color: #665f55;
  border-color: #665f55;
}
.tabs__item_active .tabs__icon {
  background-color: #e1d4c9;
}
.tabs__item_active .tabs__text {
  color: #e1d4c9;
}
.tabs__icon {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs__icon > img {
  display: block;
}
.tabs__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.menu__cards {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  width: 310px;
}
.card__image {
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image > img {
  display: block;
}
.card__info {
  padding: 20px;
  height: 196px;
  display: flex;
  flex-direction: column;
}
.card__title, .card__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.card__title {
  margin-bottom: 12px;
}
.card__description {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  flex-grow: 1;
}

/*# sourceMappingURL=style.css.map */
