@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
:root {
  --background: #e1d4c9;
  --text-accent: #b0907a;
  --text-inverse: #e1d4c9;
  --text-primary: #403f3d;
  --border-inverse: #665f55;
  --border-primary: #c1b6ad;
  --footer-bg: #665f55;
  --sun-hover-bg: #b0907a;
  --moon-hover-bg: #665f55;
  --overlay-bg: 64, 63, 61;
  --modal-bg: #e1d4c9;
  --modal-control-bg: #665f55;
}

html.theme-dark {
  --background: #292826;
  --text-accent: #292826;
  --text-inverse: #b0907a;
  --text-primary: #e1d4c9;
  --border-inverse: #c1b6ad;
  --border-primary: #665f55;
  --footer-bg: #403f3d;
  --sun-hover-bg: #403f3d;
  --moon-hover-bg: #b0907a;
  --overlay-bg: 41, 40, 38;
  --modal-bg: #403f3d;
  --modal-control-bg: #292826;
}

html:has(#theme-toggle:checked) {
  --background: #292826;
  --text-accent: #292826;
  --text-inverse: #b0907a;
  --text-primary: #e1d4c9;
  --border-inverse: #c1b6ad;
  --border-primary: #665f55;
  --footer-bg: #403f3d;
  --sun-hover-bg: #403f3d;
  --moon-hover-bg: #b0907a;
  --overlay-bg: 41, 40, 38;
  --modal-bg: #403f3d;
  --modal-control-bg: #292826;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: var(--background);
}

body:has(.no-scroll) {
  overflow-y: hidden;
}

.container {
  margin: 0 auto;
  padding: 20px 40px 40px;
  max-width: 1440px;
}
@media (max-width: 650px) {
  .container {
    padding: 20px 16px 40px;
  }
}

.header {
  margin-bottom: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo > svg {
  display: block;
  color: var(--text-primary);
}
.header__nav {
  margin-right: 44px;
}
@media (max-width: 900px) {
  .header__nav {
    margin-right: 0;
    width: 370px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-list {
  display: flex;
}
.header .nav-list__item {
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
}
.header .nav-list__item:not(:last-child) {
  margin-right: 40px;
}
.header .nav-list__item:hover {
  border-bottom: 2px solid var(--text-primary);
}
@media (max-width: 900px) {
  .header .nav-list__item {
    text-align: center;
  }
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__menu {
  width: 72px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border 0.3s;
}
.header__menu_active, .header__menu:hover {
  border-bottom: 2px solid var(--text-primary);
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

.theme-switcher {
  margin-right: 24px;
  width: 88px;
  height: 44px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .theme-switcher {
    width: 104px;
    height: 52px;
  }
}
@media (max-width: 380px) {
  .theme-switcher {
    margin-right: 12px;
  }
}
.theme-switcher__input {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
}
.theme-switcher__label {
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .theme-switcher__label {
    gap: 0;
  }
}
.theme-switcher__label .theme-switcher__sun {
  background-color: var(--text-accent);
}
.theme-switcher__label .theme-switcher__moon {
  background-color: var(--text-inverse);
}
.theme-switcher__label:hover .theme-switcher__sun {
  background-color: var(--sun-hover-bg);
}
.theme-switcher__label:hover .theme-switcher__moon {
  background-color: var(--moon-hover-bg);
}
.theme-switcher__label:hover .theme-switcher__moon > svg {
  color: #e1d4c9;
}
.theme-switcher__sun, .theme-switcher__moon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  .theme-switcher__sun, .theme-switcher__moon {
    width: 44px;
    height: 44px;
  }
}
.theme-switcher__sun > svg, .theme-switcher__moon > svg {
  transition: color 0.3s;
}
@media (max-width: 768px) {
  .theme-switcher__sun {
    margin-right: 8px;
  }
}
.theme-switcher__sun > svg {
  color: #e1d4c9;
}
.theme-switcher__moon > svg {
  color: var(--text-primary);
}

.burger {
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-inverse);
  border-radius: 50%;
  position: relative;
}
.burger__line {
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--text-primary);
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
  transition: transform 0.3s;
}
.burger__line:first-child {
  transform: translateY(-4px);
}
.burger__line:last-child {
  transform: translateY(4px);
}
.burger_active .burger__line:first-child {
  transform: rotate(45deg) translateY(0);
}
.burger_active .burger__line:last-child {
  transform: rotate(-45deg) translateY(0);
}

.footer {
  padding: 100px;
  border-radius: 40px;
  background-color: var(--footer-bg);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 100px;
}
@media (max-width: 1110px) {
  .footer {
    padding-left: 60px;
    padding-right: 0;
    gap: 0;
  }
}
@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
  }
}
@media (max-width: 650px) {
  .footer {
    padding: 60px 16px;
    gap: 40px;
  }
}
.footer__offer {
  width: 530px;
}
@media (max-width: 740px) {
  .footer__offer {
    width: 100%;
  }
}
.footer__title {
  margin-bottom: 40px;
  color: #e1d4c9;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
@media (max-width: 650px) {
  .footer__title {
    font-size: 32px;
  }
}
.footer__title_accent {
  color: #b0907a;
  font-style: italic;
}

.socials {
  display: flex;
  align-items: center;
}
.socials__item {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.socials__item:not(:last-child) {
  margin-right: 12px;
}
.socials__item > svg {
  color: #e1d4c9;
  transition: color 0.3s;
}
.socials__item:hover {
  background-color: var(--background);
  border-color: var(--background);
}
.socials__item:hover > svg {
  color: var(--text-primary);
}

.info {
  text-align: left;
}
.info__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.info__title, .info__text {
  color: #e1d4c9;
}
.info__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info__location, .info__phone, .info__time {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info__location, .info__phone {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}
.info__location:hover, .info__phone:hover {
  border-bottom: 2px solid #e1d4c9;
  cursor: pointer;
}
.info__icon {
  display: block;
}
.info__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.burger-menu {
  padding: 222px 40px 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 100px;
  right: -100%;
  transition: right 0.3s;
  z-index: 1;
}
.burger-menu_opened {
  right: 0;
}
.burger-menu__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.burger-menu__nav-list:not(:last-child) {
  margin-bottom: 60px;
}
.burger-menu .nav-list__item, .burger-menu .menu-page-link {
  color: var(--text-primary);
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
}
.burger-menu .nav-list__item:hover, .burger-menu .menu-page-link:hover {
  border-bottom: 2px solid var(--text-primary);
}
.burger-menu .menu-page-link {
  margin-top: 33px;
}
.burger-menu .menu-page-link__button {
  display: flex;
  align-items: center;
  gap: 16px;
}
.burger-menu .menu-page-link__button > svg {
  width: 40px;
  height: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1439px) {
  .menu {
    margin-bottom: 100px;
  }
}
.menu__load-btn {
  display: block;
}
.menu__load-btn_hidden {
  display: none;
}
.menu__load-more-btn {
  width: 60px;
  height: 60px;
  border: 1px solid var(--text-primary);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.3s;
}
.menu__load-more-btn:hover {
  background-color: var(--footer-bg);
  border-color: var(--footer-bg);
}
.menu__load-more-btn:hover > svg {
  color: #e1d4c9;
}
.menu__load-more-btn > svg {
  transition: color 0.3s;
  color: var(--border-inverse);
}

.menu__title {
  margin-bottom: 40px;
  max-width: 800px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}
.menu__title_accent {
  color: #b0907a;
  font-style: italic;
}
@media (max-width: 650px) {
  .menu__title {
    font-size: 32px;
  }
}

.tabs {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.tabs__item {
  padding: 8px 16px 8px 8px;
  height: 46px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.tabs__item:not(:last-child) {
  margin-right: 16px;
}
@media (max-width: 650px) {
  .tabs__item:not(:last-child) {
    margin-right: 8px;
  }
}
.tabs__item_active, .tabs__item:hover {
  background-color: var(--footer-bg);
  border-color: var(--footer-bg);
}
.tabs__item_active .tabs__icon, .tabs__item:hover .tabs__icon {
  background-color: var(--background);
}
.tabs__item_active .tabs__text, .tabs__item:hover .tabs__text {
  color: #e1d4c9;
}
.tabs__icon {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.tabs__icon > img {
  display: block;
}
.tabs__text {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.menu__cards {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media (max-width: 1439px) {
  .menu__cards {
    margin-bottom: 40px;
  }
}

.card {
  width: 310px;
  height: 506px;
  border: 1px solid var(--border-primary);
  border-radius: 40px;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__image > img {
  transform: scale(1);
}
.card__image {
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.card__info {
  padding: 20px;
  height: 196px;
  display: flex;
  flex-direction: column;
}
.card__title, .card__price {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.card__title {
  margin-bottom: 12px;
}
.card__description {
  margin-bottom: 12px;
  color: var(--text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  flex-grow: 1;
}

.modal-window {
  padding: 16px;
  max-width: 800px;
  width: 100%;
  min-height: 504px;
  background-color: var(--modal-bg);
  border-radius: 40px;
  z-index: 2;
}
.modal-window__content {
  display: flex;
  gap: 20px;
}
.modal-window__image {
  width: 310px;
  height: 310px;
  aspect-ratio: 1/1;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 650px) {
  .modal-window__image {
    display: none;
  }
}
.modal-window__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.1);
  transition: transform 0.3s;
}
.modal-window__info, .modal-window__header, .modal-window__controls {
  display: flex;
  flex-direction: column;
}
.modal-window__info {
  gap: 20px;
}
.modal-window__header {
  gap: 12px;
}
.modal-window__controls {
  gap: 8px;
}
.modal-window__title, .modal-window__description,
.modal-window .controls__title,
.modal-window .controls__label,
.modal-window .controls__text, .modal-window__total, .modal-window__button {
  color: var(--text-primary);
}
.modal-window__title, .modal-window__total {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.modal-window__description,
.modal-window .controls__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.modal-window__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-window__attention {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.modal-window__button {
  padding: 10px 0;
  width: 100%;
  border: 1px solid #665f55;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.modal-window__button:hover {
  color: #e1d4c9;
  background-color: var(--moon-hover-bg);
  border-color: var(--moon-hover-bg);
}

.controls__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.controls__item {
  padding: 8px 16px 8px 8px;
  height: 46px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.controls__item_active, .controls__item:hover {
  background-color: var(--modal-control-bg);
  border-color: var(--modal-control-bg);
}
.controls__item_active .controls__label, .controls__item:hover .controls__label {
  background-color: var(--modal-bg);
}
.controls__item_active .controls__text, .controls__item:hover .controls__text {
  color: #e1d4c9;
}
.controls__label, .controls__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.controls__label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--border-primary);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.controls__text {
  color: var(--text-primary);
}

.attention {
  padding: 12px 0;
  border-top: 1px solid var(--border-primary);
}
.attention > svg, .attention__text {
  color: var(--text-primary);
}
.attention__text {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.overlay {
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--overlay-bg), 0.8);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay_hidden {
  display: none;
}
@media (max-width: 740px) {
  .overlay {
    padding: 19px;
  }
}

/*# sourceMappingURL=style.css.map */
