@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../../../assets/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  color: #403f3d;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background-color: #e1d4c9;
}

.container {
  margin: 0 auto;
  padding: 20px 40px 40px;
  max-width: 1440px;
}

.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  display: block;
}
.header__nav {
  margin-right: 44px;
}
.header__nav-list {
  display: flex;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__menu {
  width: 72px;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border 0.3s;
}
.header__menu:hover {
  border-bottom: 2px solid #403f3d;
}

.theme-switcher {
  margin-right: 24px;
  width: 88px;
  height: 44px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}
.theme-switcher__input {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
}
.theme-switcher__label {
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-switcher__label .theme-switcher__sun {
  background-color: #b0907a;
}
.theme-switcher__label:hover .theme-switcher__moon {
  background-color: #665f55;
}
.theme-switcher__label:hover .theme-switcher__moon > svg {
  color: #e1d4c9;
}
.theme-switcher__sun, .theme-switcher__moon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.theme-switcher__sun > svg, .theme-switcher__moon > svg {
  transition: color 0.3s;
}
.theme-switcher__sun > svg {
  color: #e1d4c9;
}
.theme-switcher__moon > svg {
  color: #403f3d;
}

.nav-list__item {
  font-weight: 600;
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}

.footer {
  padding: 100px;
  border-radius: 40px;
  background-color: #665f55;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 100px;
}
.footer__offer {
  width: 530px;
}
.footer__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.footer__title_accent {
  color: #b0907a;
}

.socials {
  display: flex;
  align-items: center;
}
.socials__item {
  width: 60px;
  height: 60px;
  border: 1px solid #c1b6ad;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__item:not(:last-child) {
  margin-right: 12px;
}

.info {
  text-align: left;
}
.info__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.info__title, .info__text {
  color: #e1d4c9;
}
.info__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info__location, .info__phone, .info__time {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info__icon {
  display: block;
}
.info__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.hero {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 100px;
  color: #e1d4c9;
  border-radius: 40px;
  background-image: url("../../../assets/img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.hero__container {
  width: 530px;
}
.hero__title {
  margin-bottom: 40px;
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
.hero__title_accent {
  color: #b0907a;
  font-style: italic;
}
.hero__description {
  margin-bottom: 40px;
  color: #e1d4c9;
  line-height: 150%;
}
.hero__button {
  width: 200px;
  height: 64px;
  background-color: #e1d4c9;
  border-radius: 100px;
  color: #403f3d;
  font-size: 16px;
  font-weight: 600;
}

.favorite {
  margin-bottom: 100px;
}
.favorite__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}
.favorite__title_accent {
  color: #b0907a;
}

.slider__container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__btn {
  width: 60px;
  height: 60px;
  border: 1px solid #665f55;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.slider__left-btn {
  background-image: url("../../../assets/img/arrow-left.svg");
}
.slider__right-btn {
  background-image: url("../../../assets/img/arrow-right.svg");
}
.slider__content {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__image {
  margin-bottom: 20px;
}
.slider__image > img {
  display: block;
}
.slider__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.slider__description {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.slider__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__bullet {
  width: 40px;
  height: 4px;
  background-color: #c1b6ad;
}
.slider__bullet:not(:last-child) {
  margin-right: 12px;
}
.slider__bullet_active {
  background-color: #665f55;
}

.about {
  margin-bottom: 100px;
}
.about__title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.about__title_accent {
  color: #b0907a;
}
.about__pictures {
  height: 1060px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.pictures__item {
  border-radius: 20px;
  overflow: hidden;
}
.pictures__item > img {
  display: block;
}

.mobile-app {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-app__offer {
  width: 630px;
}
.mobile-app__title {
  margin-bottom: 40px;
  padding-right: 50px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
.mobile-app__title_accent {
  color: #b0907a;
}
.mobile-app__description {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.mobile-app__screens > img {
  display: block;
}
.mobile-app__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.mobile-app__app-store, .mobile-app__google-play {
  padding: 14px 20px;
  width: 200px;
  height: 64px;
  border: 1px solid #665f55;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.mobile-app__source {
  display: flex;
  flex-direction: column;
}
.mobile-app__source > span:first-child {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
.mobile-app__source > span:last-child {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

/*# sourceMappingURL=style.css.map */
