@use "../../abstract/constants" as *;
@use "../../abstract/mixins" as *;

.hero {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 100px;
  color: $color-text-inverse;
  border-radius: 40px;
  background-image: url("../../../assets/img/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  @include tablet-780 {
    padding-left: 60px;
  }

  @include tablet-740 {
    padding: 60px 16px;
  }

  &__container {
    width: 100%;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;

    &_accent {
      color: $color-text-accent;
      font-style: italic;
    }

    @include tablet-650 {
      font-size: 42px;
      line-height: 115%;
    }
  }

  &__description {
    margin-bottom: 40px;
    color: $color-text-inverse;
    line-height: 150%;
  }

  &__button {
    width: 200px;
    height: 64px;
    background-color: $color-bg-light;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    & > span {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      color: $color-text-primary;
    }

    & > img {
      width: 0;
      opacity: 0;
      transition: width $transition-duration, opacity $transition-duration;

      @include tablet-768 {
        width: 20px;
        opacity: 1;
      }
    }

    &:hover {
      & > img {
        width: 20px;
        opacity: 1;
      }
    }
  }
}